{% extends "main/base.html" %}

{% block head %}
<title>Speech Emotion Recognition</title>
{% endblock %}


{% block content %}
<div class="cover-container d-flex p-3 mx-auto flex-column">
  <main class="mt-auto px-3">
    <h1>🎙️ Speech Emotion Recognition</h1>
    <p class="mb-5">This is a simple webapp that can recognize your speech's emotion! AI is real 😱</p>
    <a href="{% url 'recognition' %}" class="btn btn-lg btn-secondary border-white bg-white text-black fw-bold">Get Started</a>
  </main>

  <footer class="mt-auto py-auto text-white-50">
    <p>Project created by <a href="https://github.com/BasuDevTyagi10/" class="text-white">Basudev Tyagi</a>, source
      code <a class="text-white" href="https://github.com/BasuDevTyagi10/speech-emotion-recognition">here</a></p>
  </footer>
</div>
{% endblock %}