{% extends "main/base.html" %}

{% block head %}
<title>Speech Emotion Recognition</title>
{% endblock %}


{% block content %}
<div class="cover-container d-flex p-3 mx-auto flex-column">
    <h1 class="mt-5">🎙️ Speech Emotion Recognition</h1>
    <main class="mt-auto px-3">
        <!-- <a href="#" class="btn btn-lg btn-secondary border-white bg-white text-black fw-bold">
            <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-mic"
                viewBox="0 0 16 16">
                <path
                    d="M3.5 6.5A.5.5 0 0 1 4 7v1a4 4 0 0 0 8 0V7a.5.5 0 0 1 1 0v1a5 5 0 0 1-4.5 4.975V15h3a.5.5 0 0 1 0 1h-7a.5.5 0 0 1 0-1h3v-2.025A5 5 0 0 1 3 8V7a.5.5 0 0 1 .5-.5z" />
                <path d="M10 8a2 2 0 1 1-4 0V3a2 2 0 1 1 4 0v5zM8 0a3 3 0 0 0-3 3v5a3 3 0 0 0 6 0V3a3 3 0 0 0-3-3z" />
            </svg>
            <br>
            Record
        </a>
        <hr>
        or -->
        <div class="mt-3 input-group">
            <input type="file" class="form-control" id="file" aria-describedby="inputGroupFileAddon04"
                aria-label="Upload" accept=".mp3,audio/*">
            <button class="btn btn-outline-secondary" type="button" id="inputGroupFileAddon04"
                onclick="uploadFile();">Get Emotion</button>
        </div>
        <div class="container pt-5" id="result"></div>
    </main>

    <footer class="mt-auto py-auto text-white-50">
        <p>Project created by <a href="https://github.com/BasuDevTyagi10/" class="text-white">Basudev Tyagi</a>, source
            code <a class="text-white" href="#">here</a></p>
    </footer>

</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
<script>
    const EMOJI = {
        'angry': 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/apple/325/angry-face_1f620.png',
        'calm': 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/apple/325/relieved-face_1f60c.png',
        'disgust': 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/apple/325/confounded-face_1f616.png',
        'fear': 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/apple/325/fearful-face_1f628.png',
        'happy': 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/apple/325/smiling-face_263a-fe0f.png',
        'neutral': 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/apple/325/neutral-face_1f610.png',
        'sad': 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/apple/325/pensive-face_1f614.png',
        'surprise': 'https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/160/apple/325/anguished-face_1f627.png'
    }
    function uploadFile() {
        const spinner = '<div class="spinner-border text-light" role="status"></div>'
        $("button[id^='inputGroupFileAddon04'").html(spinner);
        $("button[id^='inputGroupFileAddon04'").prop('disabled', true);
        let data = new FormData();
        data.append('file', $("input[id^='file']")[0].files[0])
        data.append('csrfmiddlewaretoken', '{{csrf_token}}')
        $.ajax({
            method: "POST",
            url: "/api/upload",
            processData: false,
            contentType: false,
            mimeType: "multipart/form-data",
            data: data,
            success: function (response) {
                $("button[id^='inputGroupFileAddon04'").prop('disabled', false);
                $("button[id^='inputGroupFileAddon04'").text("Get Emotion");
                console.log(response);
                response = JSON.parse(response);
                $("div[id^='result'").html(
                    `
                    <div class="card mb-3" style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="${EMOJI[response['emotion']]}" class="img-fluid rounded-start" alt="emotion">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-text text-black">Predicted Emotion: ${response['emotion'].charAt(0).toUpperCase() + response['emotion'].slice(1)}</h5>
                                    <audio controls>
                                        <source src="${response['filepath']}" type="audio/ogg">
                                        <source src="${response['filepath']}" type="audio/mpeg">
                                        Your browser does not support the audio element.
                                    </audio>
                                    <p class="card-title text-black">Filename: ${response['filename']}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    `
                )
            }
        })
    }
</script>
{% endblock %}